@import "./variables.scss";

.footer-container {
	background-color: $color-white;
	.content {
		padding: 0 4rem;
		.address-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.address {
				width: 380px;
				padding: 2rem 0;
			}
			.icons {
				display: flex;
				justify-content: flex-end;
				margin-bottom: 1.25rem;
				a {
					&:visited {
						color: #616E7C;
					}
					svg {
						text-align: center;
						margin-left: 0.8rem;
						cursor: pointer;
						transition: ease-out 0.5s;
						&:hover {
							fill: $main-color;
						}
					}
				}
			}
		}
	}
}
