@import "./variables.scss";

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
label,
input,
textarea,
li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  color: $text-color;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  word-wrap: break-word;
  font-kerning: normal;
  line-height: 1.75;
  letter-spacing: 0.5px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}

hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid $color-white;
  opacity: 0.5;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin: 0 !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

//no-spacing
.no-margin {
  margin: 0;
}

.mb-2 {
  margin-bottom: 2rem;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none !important;
}

//display
.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

//position
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.tag {
  display: inline-block;
  border-radius: 4px;
  border: none;
  background-color: $background-color;
  padding: 0.5rem 1rem;
  letter-spacing: 0.15px;
  color: $text-color;
  font-weight: 600;
  white-space: nowrap;

  p {
    font-weight: bold;
    color: $text-color;
  }
}

.MuiModal-root iframe {
  width: 100%;
  max-height: 90vh;
}

.overflow-right {
  padding-left: 24px;

  @media (min-width: 1200px) {
    margin-left: calc((100vw - 1200px) / 2);
    padding-left: 24px;
  }
}

@media (min-width: 600px) {
  .MuiContainer-root {
    padding-left: 24px;
    max-width: 100% !important;
    padding-right: 24px;
  }
}

@media (min-width: 900px) {
  .MuiContainer-root {
    max-width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .MuiContainer-root {
    max-width: 1200px !important;
  }
}