@media only screen and (max-width: 767px) {
  .react-scroll-page-wrapper {
    height: initial !important;

    .react-scroll-page {
      transform: none !important;
      transition: none !important;
      .icon-scroll-down {
        display: none;
      }
      & > div {
        height: initial !important;

        .component {
          padding: 2rem 1rem;

          min-height: calc(100vh - 60px);

          &:first-child {
            padding-top: 0;
          }

          .arrow-wrapper {
            justify-content: flex-end;

            .custom-arrow {
              bottom: 1rem;
            }
          }
        }
      }
    }
  }
}
