@media only screen and (max-width: 1200px) {
  .locations {
    &__item {
      img {
        width: 35% !important;
      }
      &__content {
        width: 65% !important;
      }
    }
  }
}

@media only screen and (max-width: 899px) {
  .locations {
    &__item {
      img {
        width: 25% !important;
      }
      &__content {
        width: 75% !important;
      }
    }
    &__scroll {
      max-height: 30vh;
    }
    &__map {
      max-height: 40vh;
    }
  }
  .scroll-container {
    height: 30vh;
  }
}

@media only screen and (max-width: 767px) {
  .MuiGrid-item {
    padding-left: 0 !important;
    padding-top: 0 !important;
  }
  .title h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

@media only screen and (max-width: 991px) {
  .title h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .react-scroll-page-wrapper {
    height: initial !important;
    width: 100% !important;
    .react-scroll-page {
      transform: none !important;
      transition: none !important;

      .icon-scroll-down {
        display: none;
      }

      & > div {
        height: initial !important;

        .component {
          padding: 2rem 0;
          min-height: 80vh;

          &:first-child {
            padding-top: 5rem;
          }

          .arrow-wrapper {
            justify-content: flex-end;

            .custom-arrow {
              bottom: 1rem;
            }
          }
        }
      }

      .overflow-right > .MuiGrid-container {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  .scroll-container .scroll-item .title-with-text {
    margin-left: 1rem;
    margin-top: 0;
  }

  .special-ramen {
    max-width: 70vw;
  }

  .background-style {
    height: auto;

    .app-content {
      padding: 1rem;

      h2 {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
    }

    .app-cover-img {
      position: relative;
      margin-top: -10%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .title h1 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .history-item {
    display: flex;
    flex-wrap: initial;
  }

  .footer-container footer .content {
    padding: 0;

    .address-container {
      display: grid;

      .address {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  // menu
  .menu-drawer {
    &__inner {
      padding: 6px 12px;
    }

    &__menu {
      &__item {
        font-size: 16px;
        line-height: 1.2;
        padding: 12px 0;
        white-space: nowrap;

        &:first-child {
          margin-top: 12px;
        }
      }
    }

    &__close-btn {
      height: 48px;
      width: 48px;
      margin-top: 48px;
      box-shadow: 0px 16px 40px rgba(255, 120, 0, 0.24),
        0px 4px 12px rgba(255, 120, 0, 0.16),
        0px 0px 2px rgba(255, 120, 0, 0.08);

      svg {
        font-size: 1.8rem !important;
      }
    }
  }
  .locations {
    &__item {
      img {
        width: 35% !important;
      }
      &__content {
        width: 65% !important;
      }
    }
  }
}
@media only screen and (min-width: 577px) {
  .locations {
    &__slider {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 576px) {
  .locations {
    &__grid {
      margin-left: 0 !important;
      width: 100% !important;
      margin-top: 0 !important;
    }
    &__item {
      position: relative;
      z-index: 1;
      flex-direction: column;
      margin-bottom: 16px;
      border-radius: 8px;
      box-shadow: 0px 2px 6px rgba($color: $main-color, $alpha: 0.16),
        0px 0px 1px rgba($color: $main-color, $alpha: 0.08);
      padding: 0 0 14px 0 !important;
      background-color: $color-white;
      img {
        width: 100% !important;
        height: 200px;
        border-radius: 8px 8px 0 0 !important;
      }
      &__content {
        box-sizing: border-box;
        width: 100% !important;
        border-radius: 0 0 8px 8px;
        h3 {
          padding-top: 16px;
        }
      }
    }
    &__scroll {
      overflow-x: hidden;
      overflow-y: visible;
      max-height: auto;
      display: none;
    }
    &__slider {
      display: block !important;
    }
    &__map {
      margin-top: 24px !important;
    }
  }
}
