//main-colors
$text-color: #616e7c;
$text-secondary-color: #1f2933;
$main-color: #ff7800;
$border-color: #00000014;
$red-color: #e94233;
$gray: #cbd2d9;

//base-colors
$color-white: #fff;
$dark-text: #2e2e2e;
$background-color: #ff78001f;
$scroll-color: #f5f5f5;
