//main-colors
$text-color: #616E7C;
$text-secondary-color: #1F2933;
$main-color: #FF7800;
$border-color: #00000014;
$gray: #CBD2D9; //base-colors
$color-white: #fff;
$dark-text: #2e2e2e;
$background-color: #ff78001f;
$scroll-color: #F5F5F5;